* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  font-family: "Arial", sans-serif;
  background-color: #eeeeee;
  display: flex;
}
/* container style */
.container-fixed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  width: 100%; 
  margin: 0 auto;
  background-color: #FFFBF6;
  padding: 0px 0px 0px 30px;
}

img.leadway-logo {
  margin-top: 3rem;
  width: 90px;
  height: 100px;
}
.heading{
font-family: Mulish;
font-size: 42px;
font-weight: 700;
line-height: 52.71px;
text-align: left;

margin-top: 50px;
opacity: 0px;
color: #585858;
width: fit-content;
word-wrap: break-word;
}
.welcome-text{
font-family: Mulish;
font-size: 18px;
font-weight: 400;
line-height: 20px;
text-align: left;
color: #afb0b1;
/* width: fit-content; */

}
/* form style */
form {
  padding-right: 30px;
}
.form-group {
  width: 474px;
  height: 100px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-top: 50px;
  position:relative;
  padding-top: 15px;
}

label {
  width: 61px;
  height: 20px;
   font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 20.08px;
text-align: left;
padding-left: 20px;
margin-top: 10px;
color:#000000;

}
input {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.08px;
  text-align: left;
  height: 40px;
  outline: none;
  border: none;
  margin-left: 22px;
  flex:1;
  font-family: Mulish;
  color:#AFB0B1;
}
.form-control{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  
}
.form-control img {
  padding-right: 20px;

}
.show-text{
  color:#EE5331;
  position: absolute;
  right:5px;
  top:17px;
  font-family: Mulish;
font-size: 10px;
font-weight: 700;
line-height: 12.55px;
text-align: left;
width: 34px;

}
.reset-password {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-family: "Arial", sans-serif;
  padding-left:10px;
  padding-right: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.06px;
  flex-wrap: nowrap;
}
.reset-password a {
  text-decoration: none;
  color: #7f8b94;
  font-weight: 400;
  line-height: 15.06px;
  white-space: nowrap; /* Prevents text wrapping */
  font-family: Mulish;
font-size: 12px;
text-align: left;

}

button {
  width: 100%;
  padding:10px 0px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #ff7a00;
  border: none;
  font-family: Mulish;
font-size: 24px;
font-weight: 700;
line-height: 30.12px;
text-align: center;
margin-top: 50px;
color:#FFFFFF;

}

/* customer management style  */

.info {
  display: flex;
  align-items: center;
  background: url("/Assets/Broker Portal 1.jpg");
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* .info-section {
  width: 100%;
  margin: 0px 30px 0px 20px ;
} */

.info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
margin: 450px 30px 50px 30px;
width: 462px;
height: 115px;
border-radius: 10px 10px 10px 10px;


height: fit-content;



}

.info-box h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 22.59px;
  text-align: left;
  color: #585858;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 15px;
  font-family: Mulish;


 
}
.info-box p {
  color: #585858;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.57px;
  text-align: left;
  width: 335px;
  height: 36px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Mulish;
font-size: 14px;
font-weight: 400;
line-height: 17.57px;
text-align: left;

  
}

.side-box {
  width: 131px;
  height: 115px;
  border-radius: 10px 0px 0px 10px;
  opacity: 0px;
  background-color: #f3f5f6;
 
}
.side-box img {
  width: 72px;
height: 72.21px;
margin-left:27px;
margin-top:20px;

}

/* smaller screen size style */
@media screen and (max-width: 900px) {
  .container-fixed {
    flex-direction: column;
    padding: 0 16px;
  }

  .container-fixed form {
    width: 100%;
    padding-right: 0;
  }

  .form-group,
  button#button {
    width: 100%;
  }

  .reset-password {
    justify-content: space-between;
  }

  .reset-password a {
    white-space: nowrap; /* Prevents text wrapping */
  }
  .info {
    display: none;
  }
}
